.wrapper {
}

.card {
    width: 250px;
    height: 150px;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}